.aboutus-wrapper {
   min-height: 600px;
   padding: 10px 30px;
   margin-bottom: 20px;
}

.aboutus-lable {
   font-size: 1.5rem;
   font-weight: 600;
   text-align: center;
   margin-bottom: 20px;
}

.aboutus-header-text {
   font-weight: 1.25rem;
   font-weight: 500;
   text-align: center;
}

.aboutus-logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 30px 0;
}

.aboutus-logo-img {
   width: 120px;
   height: 120px;
}

.aboutus-logo-text-img {
   height: 90px;
   width: 400px;
}

.aboutus-block {
   margin-bottom: 15px;
}

.aboutus-title-block {
   font-weight: 1.125rem;
   font-weight: 600;
   padding: 0;
   margin: 0;
}

.aboutus-text-block {
   padding-left: 10px;
}