.cart-modal-header {
   background-color: #FF4D00;
}

.cart-modal-header-image-close {
   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(233deg) brightness(106%) contrast(105%);
}

.empty-cart-image {
   width: 40%;
   height: 40%;
}

.cart-modal-title {
   font-size: 22px;
   font-family: 'Montserrat';
}

@media (max-width: 576px) {
   .cart-modal-title {
      font-size: 18px;
      font-family: 'Montserrat';
   }
}

.cart-empty-text {
   font-size: 16px;
   line-height: 20px;
   font-family: 'Montserrat';
   text-align: center;
}

.cart-modal-button-back {
   background-color: #FF4D00;
   border: none;
   color: white;
   font-size: 15px;
   font-family: 'Montserrat';
   padding: 10px;
   border-radius: 5px;
}

.cart-modal-button-order {
   background-color: #21a75d;
   border: none;
   color: white;
   font-size: 15px;
   font-family: 'Montserrat';
   padding: 10px;
   border-radius: 5px;
}

@media (max-width: 576px) {
   .cart-modal-button-order,
   .cart-modal-button-back {
      font-size: 12px;
      font-family: 'Montserrat';
      padding: 7px;
      border-radius: 5px;
   }
}

.cart-modal-delete-product {
   width: 20px;
   height: 20px;
}

.cart-products-wrapper {
   display: flex;
   flex: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgb(222, 226, 230);
   padding: 14px 0 14px 0;
}

.cart-products-id {
   width: 8px;
   margin-right: 5px;
} 

.cart-products-image {
   height: 60px;
   width: 70px;
}

.cart-products-title {
   margin-right: 5px;
}

.cart-products-color {
   margin-right: 20px;
}

.cart-products-price {
   font-weight: 500;
}

.cart-products-count {
   padding: 10px 15px;
   border: 1px solid rgb(222, 226, 230);
   border-radius: 4px;
}

.cart-products-final-price {
   margin: 15px;
}

.cart-products-qty {

}

.cart-products-price-text {
   font-weight: 500;
}

.cart-products-count-minus {
   width: 20px;
   height: 20px;
}

.cart-products-count-plus {
   width: 20px;
   height: 20px;
}

.cart-products-delete {
   border: none;
   background-color: transparent;
   color: rgb(222, 226, 230);
   font-size: 0.875rem;
   padding: 6px 8px 8px 8px;
}

.cart-products-delete:hover {
   background-color: rgb(222, 226, 230);
   border-radius: 10px;
}

.cart-body-container {
   max-height: 500px;
   overflow-y: auto;
}

::-webkit-scrollbar {
   width: 10px;
}
 
::-webkit-scrollbar-track {
   background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
   background-color: #a8bbbf;
   border-radius: 20px;
   border: 1px solid transparent;
   background-clip: content-box;
}