.profile-container {
   border-radius: 30px;
   margin-top: 20px;
   margin-bottom: 30px;
}

@media (max-width: 576px) {
   .profile-container {
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 30px;
   }
}

.profile-title-name {
   font-size: 1.125rem;
}

@media (max-width: 768px) {
   .profile-title-name {
      font-size: 0.875rem;
   }
}

.profile-title-email {
   font-size: 0.875rem;
}

@media (max-width: 768px) {
   .profile-title-email {
      font-size: 0.75rem;
   }
}

@media (max-width: 576px) {
   .profile-title-email {
      display: none;
   }
}

.profile-nav-menu {
   border-right: 1px solid rgb(222, 226, 230);
   border-top: 1px solid rgb(222, 226, 230);
}

@media (max-width: 576px) {
   .profile-nav-menu {
      border: none;
      border-right: 1px solid rgb(222, 226, 230);
   }
}

.profile-nav-list {
   list-style: none;
}

.profile-nav-list li {
   margin: 10px;
   border: 2px solid white;
   padding: 3px;
}

@media (max-width: 576px) {
   .profile-nav-list li {
      margin: 0px;
      border: 2px solid white;
      padding: 0px;
   }
}

.profile-nav-list li:hover {
   border: 2px solid rgb(246, 237, 255);
   border-radius: 10px;
   box-shadow: 2px 2px 2px rgb(206, 205, 206);
}

.active-nav-item {
   background: rgb(246, 237, 255);
   border-radius: 10px;
}

.profile-content-title {
   font-size: 1.5rem;
   font-weight: 500;
}

@media ((min-width: 576px) and (max-width: 768px)) {
   .profile-content-title {
      font-size: 1.125rem;
      font-weight: 500;
   }
}

@media (max-width: 576px) {
   .profile-content-title {
      font-size: 1.5rem;
      font-weight: 500;
   }
}

.profile-nav-image {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: rgb(246, 237, 255);
   margin-right: 10px;
}

.rersonal-data-label {
   font-size: 0.875rem;
   opacity: 0.4;
}

.personal-data-edit-button {
   border: none;
   width: 180px;
   height: 40px;
   background-color: #FF4D00;
   border-radius: 11px;
   color: white;
}

.personal-data-edit-button:hover {
   box-shadow: 2px 3px 2px #ffa781;
}

.personal-data-change-password-title {
   font-size: 1.5rem;
   font-weight: 500;
}

@media (max-width: 768px) {
   .personal-data-change-password-title {
      font-size: 1.125rem;
      font-weight: 500;
   }
}

.personal-data-password-change-input {
   width: 250px;
   height: 40px;
   border: none;
   border-bottom: 1px solid black;
   background-color: transparent;
   font-size: 1.375rem;
   padding-left: 5px;
}

@media (max-width: 768px) {
   .profile-nav-text  {
      font-size: 0.875rem;
   }
}

@media (max-width: 576px) {
   .profile-nav-text  {
      display: none;
   }
}

.profile-save-personal-changes-button {
   width: 160px;
   height: 40px;
   border: none;
   background: #FF4D00;
   border-radius: 7px;
   color: white;
   font-size: 1rem;
}

.profile-cancel-personal-changes-button {
   width: 100px;
   height: 40px;
   border: none;
   background: #0c9b37;
   border-radius: 7px;
   color: white;
   font-size: 1rem;
}

@media (max-width: 500px) {
   .profile-save-personal-changes-button {
      font-size: 0.875rem;
      width: 130px;
   }
}

@media (max-width: 500px) {
   .profile-cancel-personal-changes-button {
      font-size: 0.75rem;
      width: 80px;
   }
}

@media (max-width: 576px) {
   .myorders-image-none-order {
      width: 200px;
      height: 200px;
   }
}

.profile-change-password-confirmed {
   width: 50%;
   height: 40px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgb(42, 226, 26);
}

.profile-change-password-error {
   width: 50%;
   height: 40px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgb(255, 0, 0);
}

.selected-products-wrapper {
   display: flex;
   flex: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgb(222, 226, 230);
   padding: 4px 0 4px 0;
}

.selected-products-id {
   width: 8px;
   margin-right: 5px;
}

.selected-products-image {
   height: 60px;
   width: 70px;
}

.selected-products-title {
   margin-right: 5px;
}

.selected-products-color {
   margin-right: 20px;
}

.selected-products-price {
   font-weight: 500;
}

.selected-products-delete {
   border: none;
   background-color: transparent;
   color: rgb(222, 226, 230);
   font-size: 0.875rem;
}

.selected-products-delete:hover {
   color: blue;
}

.selected-products-noselected {
   height: 500px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}