.phones-container {
   border-radius: 20px;
}

.phones-row-colums {
   position: relative;
}

.phones-phone-container {
   position: relative;
   border: 1px solid rgb(233, 230, 255);
   font-size: 0.9rem;
   z-index: 1;
   height: 300px;
   margin: 5px;
   border-radius: 7px;
}

.phones-phone-active-container {
   position: relative;
   border: 1px solid rgb(233, 230, 255);
   background-color: white;
   border-radius: 7px;
   font-size: 0.9rem;
   word-wrap: break-word;
   z-index: 2;
   margin: 5px;
   margin-bottom: -120px;
   box-shadow: 0px 0px 10px rgb(194, 191, 209);
}

.phones-phone-title:hover {
   color:rgb(149, 136, 221);
   cursor: pointer;
   text-decoration: underline;
}

.phones-like-image {
   position: relative;
   top: -10px;
   left: 180px;
   cursor: pointer;
}

.phones-red-like-image {
   filter: invert(17%) sepia(97%) saturate(7500%) hue-rotate(5deg) brightness(108%) contrast(118%);
   position: relative;
}

.phones-phone-prise {
   font-size: 16px;
   font-weight: 700;
}

.phones-img-add-to-card-button {
   border: none;
   background: transparent;
}

.phones-img-add-to-card-button:hover {
   background: rgb(233, 230, 255);
   border-radius: 5px;
}

.phones-color-input {
   border: 2px solid white;
   outline: 1px solid black;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   margin-right: 5px;
}

.phones-active-descriptions {
   font-size: 12px;
   opacity: 0.6;
}