.MobiGood {
   display: grid;
   grid-template:
      "header"
      "main"
      "footer";
}

.main-content {
   grid-area: main;
   width: 1200px;
   margin: 0 auto;
   /* background-color: rgb(216, 203, 200); */
}

@media (min-width: 1200px) {
   .main-content {
      max-width: 1200px;
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
   .main-content {
      max-width: 990px;
   }
}

@media (min-width: 768px) and (max-width: 992px) {
   .main-content {
      max-width: 770px;
   }
}

@media (min-width: 576px) and (max-width: 768px) {
   .main-content {
      max-width: 620px;
   }
}

@media (max-width: 576px) {
   .main-content {
      width: 100%;
      font-size: 12px;
   }
}

.header {
   grid-area: header;
   width: 1200px;
   margin: 0 auto;
   /* background-color: rgb(216, 203, 200); */
}

@media (min-width: 1200px) {
   .header {
      max-width: 1200px;
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
   .header {
      max-width: 990px;
      font-size: 14px;
   }
}

@media (min-width: 768px) and (max-width: 992px) {
   .header {
      max-width: 770px;
      font-size: 12px;
   }
}

@media (min-width: 576px) and (max-width: 768px) {
   .header {
      max-width: 620px;
      font-size: 12px;
   }
}

@media (max-width: 576px) {
   .header {
      width: 100%;
      font-size: 12px;
   }
}

.footer {
   grid-area: footer;
   max-width: 100%;
}

@media (max-width: 576px) {
   .footer {
      max-width: 100%;
   }
}