.MobiGood {
   display: grid;
   grid-template: 
   "header"
   "main"
   "footer";
}

.main-content {
   grid-area: main;
   width: 1200px;
   margin: 0 auto;
   /* background-color: rgb(216, 203, 200); */
}

.header {
   grid-area: header;
   width: 1200px;
   margin: 0 auto;
   /* background-color: rgb(216, 203, 200); */
}

.footer {
   grid-area: footer;
   max-width: 100%;
}