.header-logo {
   margin-right: 5px;
}

.header-logo-container {
   max-width: 200px;
}

.header-navigation {
   display: flex;
   align-items: center;
}

.header-nav-item {
   margin: 0 5px;
   font-family: 'Montserrat';
   text-align: center;
}

.header-nav-link {
   text-align: center;
}

.header-nav-active  {
   font-weight: 700;
   border-bottom: 1px solid black;
}

.header-name-company {
   padding-top: 19px;
}

.header-phone-number {
   font-family: "Montserrat";  
}

.border-under-img {
   max-width: 135px;
   height: 0;
   border-top: 2px solid black;
   position: relative;
   left: 5px;
}

.header-cart-circle {
   width: 20px;
   height: 20px;
   border-radius: 10px;
   border: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #FF4D00;
   position: relative;
   top: 10px;
   right: 37px;
   font-family: "Montserrat";
   color: black;
}

.header-button-login {
   border: none;
   border-right: 2px solid black;
   font-family: "Montserrat";
}

.header-button-regitration {
   border: none;
   font-family: "Montserrat";  
}